html {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-left: 5rem;
    padding-right: 5rem;
}

body {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

section {
    width: 75ch;
}

h1 {
    color: lightskyblue;
}

#tekst {
    font-size: 2rem;
}

button {
    background-color: lightblue;
    border: none;
    font-size: 1rem;
    padding: 1rem;
    margin-top: 1rem;
    border-radius: 3px;
}

button:hover {
    cursor: pointer;
    background-color: lightgreen;
}

p span:hover {
    cursor: pointer;
    color: white;
    padding: 1px;
    background-color: black;
    border-radius: 3px;
    /* Kleur veranderen wanneer er overheen wordt gehoverd */
}

p:nth-of-type(2) {
    font-size: 1.2rem;
}

.begin {
    background-color: lightblue;
}

.eind {
    background-color: lightgreen;
}

#clipboardInfo {
    width: 60ch;
    padding: 1rem;
    margin-top: 2rem;
    border: 3px solid black;
}

#plaats {
    position: fixed;
    left: 3rem;
    top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#boven {
    position: fixed;
    right: 1rem;
    top: 45%;
    width: 3rem;
    height: 3rem;
}


#kopieerBtn {
    /* position: fixed;
    right: 75%;
    top: 50%; */
    width: 6rem;
    height: 3rem;
}






#beneden {
    position: fixed;
    right: 1rem;
    top: 55%;
    width: 3rem;
    height: 3rem;
}