body {
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

#tekst span:hover {
    cursor: pointer;
    color: white;
    padding: 1px;
    background-color: black;
    border-radius: 3px;
    /* Kleur veranderen wanneer er overheen wordt gehoverd */
}

.begin {
    background-color: lightblue;
}

.eind {
    background-color: lightgreen;
}

section {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

section div {
    display: grid;
    width: 100%;
    height: 30rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 25px;
    grid-row-gap: 25px;
}

a {
    position: relative;
}

a article img {
    width: 100%;
}

article {
    width: 100%;
}

a::before,
a::after {
    content: "";

    position: absolute;
}

a::before {
    background-color: rgba(0, 0, 0, 0.5);
    inset: 0;

}

a::after {
    content: "IJstijd";
    font-size: 5rem;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

a:hover::before {
    background-color: rgba(0, 0, 0, 0.75);
}

a:hover::after {}

a:nth-of-type(1) {
    grid-area: 1 / 1 / 2 / 2;
}

a:nth-of-type(2) {
    grid-area: 2 / 1 / 3 / 2;
}

a:nth-of-type(3) {
    grid-area: 1 / 2 / 3 / 3;
}

a:nth-of-type(4) {
    grid-area: 1 / 3 / 2 / 4;
}

a:nth-of-type(5) {
    grid-area: 2 / 3 / 3 / 4;
}